<div class="relative">
  <button
    class="flex flex-row gap-2 py-3 px-4 rounded-full border border-neutral-900 tp4-medium transition outline-none bg-neutral-0 text-neutral-900 hover:cursor-pointer focus:"
    (click)="toggle(); $event.stopPropagation()"
  >
    {{ selectedCategory() || 'All Categories' }}
    <img src="/icon-chevron-down.svg" alt="Chevron down icon" />
  </button>
  @if (isOpen()) {
    <div
      class="dropdown-wrapper absolute top-12.5 left-0 border border-neutral-900 rounded-[8px] shadow-[0_3px_8px_0_rgba(46,20,1,0.2)] bg-neutral-0 w-64.5 z-50 transition animate-dropdown overflow-hidden"
      animate.enter="animate-dropdown"
      animate.leave="animate-leave"
    >
      <div
        class="category-option text-neutral-900 py-2 px-4 flex flex-row gap-2 justify-items-center items-center hover:cursor-pointer hover:bg-neutral-100"
        [class.border-b]="categoryStats().length > 0"
        (click)="selectCategory('')"
      >
        <app-checkbox class="flex items-center" [checked]="!selectedCategory()" />
        <p class="tp5-medium">All Categories</p>
      </div>
      @for (item of categoryStats(); track item.category; let isLast = $last) {
        <div
          class="category-option text-neutral-900 py-2 px-4 flex flex-row gap-2 justify-items-center items-center hover:cursor-pointer hover:bg-neutral-100"
          [class.border-b]="!isLast"
          (click)="selectCategory(item.category)"
        >
          <app-checkbox
            class="flex items-center"
            [checked]="selectedCategory() === item.category"
          />
          <p class="tp5-medium">
            {{ item.category }} <span class="text-neutral-600">({{ item.count }})</span>
          </p>
        </div>
      }
    </div>
  }
</div>
