<div
  class="w-full h-full bg-neutral-0 border border-r-[3px] border-b-[3px] rounded-16 border-neutral-900 flex flex-col justify-items-stretch"
>
  <div class="flex flex-row justify-between items-center p-5">
    <div>
      <div class="flex flex-row gap-2">
        <app-checkbox />
        <p class="tp4-medium">Hide Mastered</p>
      </div>
    </div>
    <app-button type="border" text="Shuffle" icon="/icon-shuffle.svg" />
  </div>
  <div class="border-b border-neutral-900 border-t h-[stretch]">Flashcard container</div>
  <div class="flex flex-row justify-between items-center p-5">
    <app-button type="border" text="Previous" icon="/icon-chevron-left.svg" />
    <p class="tp5 text-neutral-600">Card 1 of 40</p>
    <app-button type="border" text="Next" iconSecond="/icon-chevron-right.svg" />
  </div>
</div>
